.sidebar{
    width: 300px;
    border-right: 2px solid black;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    background: #075e54;
    color: white;
    justify-content: space-between;
    padding: 12px;
}
.header h3{
    margin: 0px;
}
.header button{
    color: white;
    background-color: #25d366;
    padding: 6px 8px;
    font-weight: 600;
    border: 0px;
    border-radius: 3px;
}
.search{
    padding: 10px;
}
.search input{
    width: 100%;
    padding: 6px 8px;
}
.chat_list{
    flex: 1;
    padding: 12px;
    overflow-y: auto;
}